img {
    transition: transform 0.2;
}

@keyframes rotar {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}
@keyframes rotal {
    0% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.clickR.r {
    animation: rotar 0.2s ease-out;
}
.clickR.l {
    animation: rotal 0.2s ease-out;
}
